Repository cerner/fhir.cerner.com, pull requests merged in 2023-12, with the labels that each got.

#1010 Updated MedicationAdminstration R4 Resource
  content/millennium/r4/clinical/medications/medication-administration.md
Labels: R4

#1011 Updated MedicationAdministration DSTU2 Resource
  content/millennium/dstu2/medications/medication-administration.md
Labels: DSTU2

#1027 Review and Updates to Goal
  content/millennium/dstu2/care-provision/goal.md
  content/millennium/r4/clinical/care-provision/goal.md
Labels: R4, DSTU2

#1022 Review and Updates to Communication
  content/millennium/r4/clinical/request-and-response/communication.md
Labels: R4

#1014 dstu2 Practitioner updates
  content/millennium/dstu2/individuals/practitioner.md
  lib/resources/dstu2/practitioner.yaml
  lib/resources/example_json/dstu2_examples_practitioner.rb
Labels: DSTU2

#1015 R4 Practitioner updates
  content/millennium/r4/base/individuals/practitioner.md
  lib/resources/example_json/r4_examples_practitioner.rb
  lib/resources/r4/practitioner.yaml
Labels: R4

#1009 Person updates for DSTU2 and R4
  content/millennium/dstu2/entities/person.md
  content/millennium/r4/base/individuals/person.md
  lib/resources/dstu2/person.yaml
  lib/resources/example_json/r4_examples_person.rb
  lib/resources/r4/person.yaml
Labels: R4, DSTU2

#1012 StructureDefinition updates
  content/millennium/dstu2/conformance/structure-definition.md
  content/millennium/r4/foundation/conformance/structure-definition.md
  lib/resources/example_json/dstu2_examples_structure_definition.rb
  lib/resources/example_json/r4_examples_structure_definition.rb
Labels: R4, DSTU2

#1020 Updated Medication Order DSTU2 Resource
  content/millennium/dstu2/medications/medication-order.md
  lib/resources/dstu2/medication_order.yaml
Labels: DSTU2

#1021 Updated MedicationStatement DSTU2 Resource
  content/millennium/dstu2/medications/medication-statement.md
  lib/resources/dstu2/contained_medication.yaml
  lib/resources/dstu2/medication_statement.yaml
  lib/resources/dstu2/medication_statement_contained_practitioner.yaml
Labels: DSTU2

#1019 Updated MedicationRequest R4 Resource
  content/millennium/r4/clinical/medications/medication-request.md
  lib/resources/r4/medication_request.yaml
  lib/resources/r4/medication_request_contained_medication.yaml
Labels: R4

#1018 Updated Provenance R4 Resource
  content/millennium/r4/foundation/security/provenance.md
  lib/resources/r4/provenance.yaml
Labels: R4
